@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

@keyframes slideInFromRight {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

